<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Have Fun</title>
  </head>
  <body>
  	<div class="container">
      <div class="row">
        <a href="https://www.youtube.com">
        <div class="jumbotron">
      <h1>Youtube</h1>
      <p>Watch popular and exiting Videos or Listen to Music</p>
    </a>
    </div>
      </div>
      <div class="row">
        <a href="https://www.websudoku.com">
        <div class="jumbotron">
        <h1>Sudoku</h1>
        <p>Solve the Puzzle on websudoku.com</p>
      </a>
      </div>
      </div>
      <div class="row">
        <a href="https://www.twitter.com">
        <div class="jumbotron">
          <h1>Twitter</h1>
          <p>Get to know the world from MicroBlog</p>
        </div>
      </a>
      </div>
  	</div>
  </body>
