<!DOCTYPE html>
<html lang="en">
<head>
  <title>OneClick</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid center">
  <h1>OneClick</h1>
  <div class="row">
    <a href="{{url_for('health')}}" class="btn btn-default" role="button">Health</a>
  </div>
  <div class="row">
    <a href="#" class="btn btn-default" role="button">Entertainment</a>
  </div>
  <div class="row">
    <a href="https://bookingwidget.olacabs.com/" class="btn btn-default" role="button">Transportation</a>
  </div>
</div>


</body>
</html>
