<!DOCTYPE html>
<html lang="en">
<head>
  <title>OneClick</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid center">
    <div class="row">
      <img src="{{url_for('static',filename = 'images/app_icon.png')}}" alt="OneClick" style="display:inline-block;width:100px;">
      <h1 style="display:inline-block">OneClick</h1>
   </div>

  <div class="row">
    <div class="container">
      <a href="{{url_for('health')}}" class="btn btn-default btn-block" role="button">Health</a>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <a href="{{url_for('entertainment')}}" class="btn btn-default btn-block" role="button">Entertainment</a>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <a href="https://bookingwidget.olacabs.com/" class="btn btn-default btn-block" role="button">Transportation</a>
      <br>
      <br>
    </div>
  </div>
</div>


</body>
</html>
